body {
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1eff00;
}

#randomMover {


    position: fixed;
    transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
    
    /* Circle Properties */
    width: 60px;          /* Set equal width and height */
    height: 60px;
    border-radius: 50%;  /* Makes the element a perfect circle */
    padding: 0;          /* Remove default padding */
    text-align: center;
    line-height: 60px;   /* Vertically center the text (same as height) */
    cursor: pointer;
    border: 2px solid #333;
    background-color: #ffae00;
}

#Score {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}